
*.sh
node_modules
lib
*.md
*.scss
*.woff
*.ttf
sw.js
.vscode
.idea
/.nuxt/
/docs
.vscode
.local
/bin
/build
/config
Dockerfile
nuxt.config.js
lint-staged.config.js
stylelint.config.js
commitlint.config.js
upload.js
