@import './init.css';

@import './colors.css';

@import './global.css';

@import './layout.css';

.dark.has-sidebar .sidebar {
  box-shadow: 2px 68px 10px rgba(26, 32, 44, 0.8);
}

.opener {
  position: relative;
  display: flex;
  font-weight: 600;
  color: #fff;
  align-items: center;
  flex-shrink: 0;
}

.opener::before {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  background-image: var(--opener);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  flex-shrink: 0;
}

.has-sidebar .opener::before {
  background-image: var(--opener-active);
}

.blocks + .blocks {
  margin-top: 30px;
}

.block-category {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  color: var(--sidebar-color);
  text-transform: uppercase;
}

.block-item {
  padding: 0;
  overflow: hidden;
  color: var(--main-500);
  border: 0;
  border-radius: 4px;
  box-shadow: var(--shadow);
}

.block-item + .block-item {
  margin-top: 20px;
}

.block-item svg {
  width: 100%;
}

.block-item.is-active {
  background-color: var(--main-500);
  box-shadow: var(--shadow-active);
}

.block-item.is-active > svg {
  opacity: 0.8;
}

/* copy-the-block */

.copy-the-block {
  position: relative;
  display: flex;
  width: 130px;
  height: 32px;
  padding: 0 12px;
  margin-right: 14px;
  overflow: hidden;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 20px;
  transition: 0.3s;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.copy-to-clipboard {
  width: auto;
  white-space: nowrap;
}

.copy-the-block > svg {
  width: 16px;
  flex-shrink: 0;
  margin-right: 6px;
}

.copy-to-clipboard > svg {
  width: 13px;
}

.clipboard-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.clipboard-tooltip {
  position: absolute;
  right: 100%;
  padding: 2px 5px;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #68717d;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.4s, margin-right 0.4s;
}

.clipboard-tooltip.is-copied {
  margin-right: 6px;
  opacity: 1;
}

/* switcher */

.switcher {
  display: flex;
  height: 32px;
  padding: 0 10px;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
}

/* theme-button */
.theme-button.is-active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='3' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  background-size: 14px;
  content: '';
}

.theme-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.theme-button + .theme-button {
  margin-left: 5px;
}

.bg-indigo-500 {
  --tw-bg-opacity: 1;

  background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}

/* device */

.device {
  color: #fff;
  opacity: 0.3;
  transition: 0.3s;
  @apply cursor-pointer;
}

.device > svg {
  width: 24px;
}

.device.is-active {
  opacity: 1;
}

.device + .device {
  margin-left: 8px;
}

/* mode */
.mode {
  position: relative;
  width: 58px;
  height: 32px;
  margin-left: 16px;
  background-color: hsla(0, 0%, 100%, 0.192);
  border-radius: 30px;
  flex-shrink: 0;
}

.mode::after,
.mode::before {
  position: absolute;
  content: '';
}

.mode::before {
  top: 0;
  left: 0;
  width: 32px;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='2.4' fill='%23fff' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72l1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50%;
  transition: 0.3s;
}

.mode::after {
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  background-color: #6366f1;
  background-color: var(--main-500);
  border-radius: 50%;
  transition: transform 0.3s;
}

.dark-mode .mode::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='2' fill='%23fff' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z'/%3E%3C/svg%3E");
  transform: translateX(26px);
}

.dark-mode .mode::after {
  transform: translateX(-24px);
}

.github {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-flex;
  padding: 8px 12px;
  font-weight: 600;
  color: #fff;
  background-color: var(--solid-900);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.github svg {
  width: 24px;
  flex-shrink: 0;
  margin-right: 6px;
}

/* code */

pre,
code {
  font-family: 'Space Mono', monospace;
  font-variant-ligatures: no-contextual;
}

.hljs {
  overflow-x: unset;
}

.pre-wrapper {
  display: flex;
  background: rgb(248, 248, 255);
}

.pre-wrapper > .html {
  width: 100%;
}

.aside-line-number {
  float: left;
  padding-right: 10px;
}

.aside-line-number.hljs {
  display: flex;
  flex-direction: column;
}

.line-number {
  font-size: 12px;
  line-height: 24px;
  pointer-events: none;
  opacity: 0.2;
  user-select: none;
}

@media (max-width: 760px) {
  .copy-the-block {
    display: none;
  }

  .opener {
    width: 40px;
    height: 100%;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
  }

  .opener::before {
    width: 24px;
    height: 24px;
  }

  .switcher {
    position: fixed;
    right: 140px;
    bottom: 24px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border: 1px solid var(--base-200);
  }

  .mode {
    margin-left: auto;
  }
}

@media (max-width: 960px) {
  .copy-to-clipboard {
    display: none;
  }
}

@media (max-width: 1060px) {
  .device {
    display: none;
  }

  .switcher {
    margin-right: 0;
  }
}
