@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark-mode body {
  @apply bg-gray-800;
  @apply text-white;
}

/** width **/
.w-300 {
  width: 1200px;
}

.w-320 {
  width: 1280px;
}

.w-480 {
  width: 1920px;
}

.w-145 {
  width: 580px;
}

/* height */
.h-235 {
  height: 940px;
}

.h-135 {
  height: 540px;
}
